<div class="container p-5">
  <div class="row mt-4 p-5">
    <div class="col-lg-12">
      <div class="text-center">
        <div class="display-2"><h2>〜サイト紹介〜</h2></div>
        <br>

        <div class="row">
            <div class="col-4">
             <%= image_tag 'SBM_Clothing.png', :size=>'300x350'  %>
            </div>

            <div class="col-8">
            <h3 style="width: 88%; margin-top: 25px; margin-left: 20px; text-align: center ">
            　<i class="fa-solid fa-lightbulb"></i>以下のことでお困りではないですか❓</h3>
            　<h5 style="width: 100%; margin-top: 25px; margin-left: 20px; text-align: center ">・どんな衣類を持っているかわからなくなってしまった。</h5>
            　<h5 style="width: 100%; margin-top: 25px; margin-left: 20px; text-align: center ">・衣類をどこに収納したか忘れてしまい、探すことが多い。</h5>
            　<h5 style="width: 80%; margin-top: 25px; margin-left: 20px; text-align: center ">・他の人が持っている衣類が少し気になる。</h5>
              <br><br>
              <h4><i class="fa-regular fa-hand-point-up"></i>クローゼット別に衣類を丸々管理しませんか❓❓</h4>          
              <h5 style="width: 80%; margin-top: 25px; margin-left: 20px; text-align: center "><i class="fa-solid fa-seedling"></i>他の人のアイテムのチェックもできます‼️</h5>
        </div>
      </div>
    </div>
  </div>
</div>

