<div class="container p-5">
  <div class="row mt-4 p-5">
    <div class="col-lg-12">
      <div class="text-center">
        <div class="display-2"><h2>サイト紹介</h2></div>
        <p class="d-flex justify-content-center pt-5">
          <!--%= image_tag 'about.png', :size=>'200x200'  %>-->
        </p>
        <h5 style="width: 100%; margin-top: 25px; margin-left: 20px; text-align: center ">
          所有している衣類を把握できていないことから、似たような新しい衣類を買ってしまったり、
        時間をかけて衣類を探すことってありますよね。
          こちらのサイトでクロゼットを丸々管理してみませんか❓
          　　　　　　　また、自身の衣類の紹介や他のユーザーの衣類もチェックすることができます。
          　　　　　是非、コーディネートの参考にしてみてはいかがでしょうか❓
        </h5><br>
      </div>
    </div>
  </div>
</div>

