<div class="container p-3 p-sm-5">
  <div class="row mt-4 p-3 p-sm-5">
    <div class="col-lg-12">
      <div class="text-center">
        <h2 class="display-4">〜サイト紹介〜</h2>
        <br>
        <div class="col-lg-8 offset-lg-2 p-3 p-md-5">
          <h4><i class="fa-regular fa-hand-point-up"></i>クローゼット別に衣類を管理しませんか❓❓</h4>
          <h5 class="mt-3">・どんな衣類を持っているかわからなくなってしまった。</h5>
          <h5 class="mt-3">・衣類をどこに収納したか忘れてしまい、探すことが多い。</h5>
          <h5 class="mt-3">・他の人が持っている衣類が少し気になる。</h5>
          <h5 class="mt-3">・<i class="fa-solid fa-seedling"></i>他の人のアイテムのチェックもできます‼️</h5>
          <%= image_tag 'SBM_Clothing.png', size: '400x450', class: 'img-fluid mt-4' %>
        </div>
      </div>
    </div>
  </div>
</div>