<div class="container">
  <div class="row">
    <%= render 'genre_list', genres: @genres %>
    <div class="col-md-9 offset-md-1 mt-5">
      <div>
        <h2><%= @genre.name %></h2>
      </div>
      <%= render 'clothing', cloths: @cloths %>
    </div>
  </div>
</div>