<div class="container">
  <div class="col text-center mt-3">
    <%= render 'public/searches/form' %>
  </div>
  <div class="row">
    <div class="col-12 col-md-5">
      <%= render 'genre_list', genres: @genres %>
    </div>
    <div class="col-12 col-md-7 mt-5">
      <div class="d-flex align-items-end mb-3">
        <h2 class="m-0 font-weight-bold">みんなの衣類一覧</h2>
      </div>
      <%= render 'clothing', cloths: @cloths %>
    </div>
  </div>
</div>