<footer>
    <div class='container mt-5'>
  	  <div class='row-6 text-center'>
        <%= image_tag 'footer.png', width: '20%', height: '20%' %>
        </div>


  	<div class='row'>
    	<div class='mx-auto m-2'>
    		<p>Copyright © Stand By Me clothing Co.,ltd. All Rights Reserved.</p>
    	</div>
    </div>
  </div>
</footer>